body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.618;
}

@@media screen and (max-width:479px)
 {
body{
  font-size: 13px;
}
}
.header , .footer{
background: #994d71;
border: 3px solid  #cca3b7;
}
.header-w {	/* 枠線 */
  	text-align: center ;				/* テキスト、画像の真ん中寄せ */
  	margin-top: 2em ;					/* 他のブロックとのスペース */
  	padding: 1em 0 ;					/* 上下の余白 */
    width: 1000px ;
  	padding-bottom: 20px ;							/* 上下左右に20pxの余白 */
    margin:0 auto;
    margin-bottom: 0.01em;
}

.logo-wrapper{
  margin:0;
  padding:0;
  line-height: 1;
}
.v{
  width: 480px;
  margin: auto;
}
.p{
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}
.q{
  float: right;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}

.logo{
  width: 400px;
  height: auto;
  margin: 0;
  padding: 0;
}
@media screen and(max-width:479px;)
{
  .logo{
    width: 150px;
  }
}

.footer-g
{
	text-align: center ;				/* テキスト、画像の真ん中寄せ */
	margin-top: 2em ;					/* 他のブロックとのスペース */
	padding: 1em 0 ;					/* 上下の余白 */
  width: 1000px ;
	padding: 20px ;							/* 上下左右に20pxの余白 */
  margin:0 auto;
  color: #ccdcff;	/* 枠線 */
}
.y{
border: 3px solid #A164C1;
margin: 0;
padding: 0;
}
.yy{
border: 3px solid #B57AD5;
margin: 0;
padding: 0;
}
.yyy{
border: 3px solid #C75684;
margin: 0;
padding: 0;
}
.yyyy{
border: 3px solid #B5138F;
margin: 0;
padding: 0;
}
.yyyyy{
border: 3px solid #9D14A2;
margin: 0;
padding: 0;
}
.yyyyyy{
border: 3px solid #995c78;
margin: 0;
padding: 0;
}
.yyyyyyy{
border: 3px solid #CE3780;
margin: 0;
padding: 0;
}
.yyyyyyyy{
border: 3px solid #CE3780;
margin: 0;
padding: 0;
}
.yyyyyyyyy{
border: 3px solid #B866BE;
margin: 0;
padding: 0;
}
.yyyyyyyyyy{
border: 3px solid #AB7DC5;
margin: 0;
padding: 0;
}
.yyyyyyyyyyy{
border-left: 3px solid #AB7DC5;
margin: 0;
padding: 0;
}
.yyyyyyyyyyyy{
border: 3px solid #803359;
margin: 0;
padding: 0;
}
.yyyyyyyyyyyyy{
border: 3px solid #cca3b7;
margin: 0;
padding: 0;
}
.yyyyyyyyyyyyyy{
border: 3px solid #e6b8ce;
margin: 0;
padding: 0;
}

.wrapper
{
	width: 1000px ;
	margin: 0 auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 0 ;		/* 上下左右の余白を0にしておく */
}
@media screen and ( max-width:479px )
{
	.wrapper
	{
		width: auto ;
		padding: 0 10px ;		/* 左右の余白 */
	}
}
.main
{
	width: 618px ;
	padding: 20px ;							/* 上下左右に20pxの余白 */
	border: 1px solid rgba(0,0,0,.1) ;		/* 枠線 */
}
.main ,.side{

}
.side
{
	width: 320px ;
}
@media screen and ( max-width:479px )
{
	.main
	{
		width: auto ;
		padding: 0 ;		/* 余白 */
		border: none 	;	/* 枠線 */

	}

	.side
	{
		width: auto ;

	}
}
  .main
  {
  	float: left ;		/* 左に寄せる */
  }

  .side
  {
  	float: right ;		/* 右に寄せる */
  }

  /* スマホだけに適用するCSS */
  @media screen and ( max-width:479px )
  {
  	.main
  	{
  		float: none ;		/* floatを無効する */
  	}

  	.side
  	{
  		float: none ;		/* floatを無効する */
  	}
  }
  .wrapper
  {
  	overflow: hidden ;		/* floatを解除する */
  }
