body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.618;
}

@@media screen and (max-width:479px)
 {
body{
  font-size: 13px;
}
}
.header{
  border-bottom: 3px solid #888;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 2em;
  background: #e8e8e8 ;
}
.logo-wrapper{
  margin:0;
  padding:0;
  line-height: 1;
}
.logo{
  width: 400px;
  height: auto;
}
@media screen and(max-width:479px;)
{
  .logo{
    width: 150px;
  }
}
.footer
{
	border-top: 3px solid #888 ;		/* 枠線 */
	text-align: center ;				/* テキスト、画像の真ん中寄せ */
	margin-top: 2em ;					/* 他のブロックとのスペース */
	padding: 1em 0 ;					/* 上下の余白 */
	background: #e8e8e8 ;
}
.wrapper
{
	width: 1000px ;
	margin: 0 auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 0 ;		/* 上下左右の余白を0にしておく */
}
@media screen and ( max-width:479px )
{
	.wrapper
	{
		width: auto ;
		padding: 0 10px ;		/* 左右の余白 */
	}
}
.main
{
	width: 618px ;
	padding: 20px ;							/* 上下左右に20pxの余白 */
	border: 1px solid rgba(0,0,0,.1) ;		/* 枠線 */
}
.side
{
	width: 320px ;
}
@media screen and ( max-width:479px )
{
	.main
	{
		width: auto ;
		padding: 0 ;		/* 余白 */
		border: none 	;	/* 枠線 */

	}

	.side
	{
		width: auto ;

	}
}
  .main
  {
  	float: left ;		/* 左に寄せる */
  }

  .side
  {
  	float: right ;		/* 右に寄せる */
  }

  /* スマホだけに適用するCSS */
  @media screen and ( max-width:479px )
  {
  	.main
  	{
  		float: none ;		/* floatを無効する */
  	}

  	.side
  	{
  		float: none ;		/* floatを無効する */
  	}
  }
  .wrapper
  {
  	overflow: hidden ;		/* floatを解除する */
  }
